/**************************
* This is my frist solo project, no tutorial/guides etc.
* Colors Used: #003B46, #07575B, #66A5AD, #C4DFE6 ---> To give this an oceanic theme
* Made by: Romchy
*
***************************/

body {
	font: 16px helvetica, arial, serif;
	margin: 0;
}

nav {
	border-bottom: 3px solid #003B46;

}

.container {
	background: #66A5AD;
	width: 100%;
	overflow: hidden;
}

ul {
	float: right;
	padding: 0;
	margin: 35px 15px 35px 0;
}

li {
	display: inline-block;
	text-transform: uppercase;
}

.articles > section{
	display: block;
	float: left;
	background: linear-gradient(to bottom, #C4DFE6, #66A5AD);
	color: #003B46;
	height: 300px;
	width: 29%;
	margin: 1%;
	padding: 1% 1%;
	border-radius: 10px;
	box-shadow: -2px 0 #003B46, 0 2px #003B46, 2px 0 #003B46, 0 -2px #003B46;
}

.logo {
	float: left;
	margin: 0;
	padding: 22px;
	color: #07575B;
}


.mark {
	font-size: 40px;
	color: #003B46;
}

a {
	text-decoration: none;
	color: #003B46;
}

nav > h1 {
	font-size: 30px;
}

#showcase {
	border-bottom: 3px solid #003B46;
	min-height: 400px;
	text-align: center;
	background: url("../img/wave01.jpg") no-repeat;
	background-size: fill;
}

#showcase h1 {
	margin: 0;
	padding-top: 100px;
	font-size: 50px;
	text-transform: uppercase;
	color: #C4DFE6;
	text-shadow: -2px 0 #003B46, 0 2px #003B46, 2px 0 #003B46, 0 -2px #003B46;
}

#showcase p {
	font-size: 30px;
	color: #C4DFE6;
	text-shadow: -2px 0 #003B46, 0 2px #003B46, 2px 0 #003B46, 0 -2px #003B46;
}

.btn {
	padding: 10px 20px;
	border-bottom: 2px solid #07575B;
	border-top: 2px solid #07575B;
	margin: 0;
	background: linear-gradient(to bottom, #C4DFE6, #07575B);
	font-weight: bold;
}

.btn-first {
	border-left: 2px solid #07575B;
	border-radius: 15px 0 0 15px;
}

.btn-last {
	border-right: 2px solid #07575B;
	border-radius: 0 15px 15px 0;
}

.btn:hover {
	background: linear-gradient(to bottom, #07575B, #C4DFE6);
}

.current {
	padding: 10px 20px;
	border-bottom: 2px solid #07575B;
	border-top: 2px solid #07575B;
	margin: 0;
	background: linear-gradient(to bottom, #07575B, #C4DFE6);
	font-weight: bold;
}

@media screen and (min-width: 1030px) {
	body{
		width: 1030px;
		margin: 0 auto;
		}
}
@media screen and (max-width: 815px) {
	li:nth-child(2) {
		display: none;
	}
}
@media screen and (max-width: 686px) {
	li:nth-child(3) {
		display: none;
	}
}
@media screen and (max-width: 565px) {
	li:nth-child(4) {
		display: none;
	}
}