* {
	font-family: arial;
	margin: 0;
}

body {
	background: #ccc;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* We use wrap and wrap-reverse on the container */

.flex-container {
	background: black;
	display: flex;
	flex-wrap: wrap;
}

/* We use flex-grow, flex: 1; on elements */

.box {
	height: 100px;
	flex: 1;
}

.one {
	background: red;
	
}

.two {
	background: green;
}

.three {
	background: blue;
}